<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/icomoon/style.css" | relative_url }}">
<link rel="icon" 
      type="image/png" 
      href={{ "/assets/Icons/Weird Star.png" | relative_url }} />
{% if page.title %}
	<title>{{ page.title }}</title>
{% else %}
	{% if site.title %}
		<title>{{ site.title }}</title>
	{% endif %}
{% endif %}