body {
	color: white;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: maroon;
}
h2 {
	margin: 0;
}
a {
	color: white;
}

nav {
	width: 25%;
	height: 100%;
	position: fixed;
	background-color: #333333;
	text-align: center;
}
nav * {
	width: 100%;
	height: 2em;
}
nav a {
	display: inline-block;
	line-height: 2em;
	color: white;
	font-size: 1.5em;
	text-decoration: none;
	padding: 1.5em 0;
	vertical-align: middle;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
nav a:hover {
	background-color: maroon;
}
.titleLink {
	grid-column: 1 / span 2;
	display: table;
}
.titleLink img {
	width: 7em;
	height: 7em;
}
.titleLink h1 {
		margin-bottom: -1em;
	}
article img {
	width: 100%;
	height: auto;
	margin: auto;
}

.home {
	display: grid;
	grid-template-columns: 1fr;
}
.content {
	width: 75%;
	margin: auto;
	padding-top: 2em;
}
.wrapper {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

@media only screen and (max-width: 800px) {
	.wrapper {
		display: initial;
	}
	nav {
		width: 100%;
		position: initial;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.titleLink img {
		width: 5em;
		height: 5em;
	}
}
